[submodule "2_ano/RC1/RC1_projeto"]
	path = 2_ano/RC1/RC1_projeto
	url = https://github.com/rubenpeq/RC1_projeto.git
	branch = main
[submodule "2_ano/AED/AED-assignments"]
	path = 2_ano/AED/AED-assignments
	url = https://github.com/rubenpeq/AED-assignments.git
[submodule "3_ano/IA/guiao-de-programacao-funcional-rubenpeq"]
	path = 3_ano/IA/guiao-de-programacao-funcional-rubenpeq
	url = https://github.com/detiuaveiro/guiao-de-programacao-funcional-rubenpeq.git
[submodule "3_ano/IA/guiao-sobre-pesquisa-rubenpeq"]
	path = 3_ano/IA/guiao-sobre-pesquisa-rubenpeq
	url = https://github.com/detiuaveiro/guiao-sobre-pesquisa-rubenpeq.git
[submodule "3_ano/IA/guiao-rc-rubenpeq"]
	path = 3_ano/IA/guiao-rc-rubenpeq
	url = https://github.com/detiuaveiro/guiao-rc-rubenpeq.git
